@import "tailwindcss";

/* Base styles */
@layer base {
  body {
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #f3f4f6;
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 32px 32px;
    background-position: calc(100% + 16px) 0;
  }
}